@model dynamic
@{
    var controllerName = this.GetControllerName();
    var itemId = Model.Id;
}
<tr>
    @foreach (var prop in ViewData.ModelMetadata.Properties.Where(p => p.ShowForEdit))
    {
        <td>@Html.Display(prop.PropertyName)</td>
    }
    <td>
        <span style="float: left">
            <a href="@Url.Action("Edit", controllerName, routeValues: new {id = itemId})" class="btn btn-primary">
                <i class="ace-icon fa fa-pencil-square-o bigger-125"></i>编辑
            </a>
        </span>
        <span style="float: left">
            @using (Html.BeginForm("Delete", controllerName, new { id = itemId }, FormMethod.Post, new { @class = "delete-form" }))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-warning"><i class="ace-icon fa fa-trash-o bigger-125"></i>删除</button>
            }
        </span>
    </td>
</tr>